<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>故障详情</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />
		<style type="text/css">
			.content {
				bottom: 2.5rem;
			}
		</style>
	</head>
	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a class="mui-action-back icon icon-back pull-left"></a>
				<h1 class="title">故障详情</h1>
			</header>
			<div class="content">
				<div class="card">
					<div class="card-header">
						<span><i class="icon icon-time"></i><small>&nbsp;2015/01/15 15:00</small></span>
						<small>已解决</small></div>
					<div class="card-content">
						<div class="card-content-inner">
							<p>韬奋楼东侧电表有故障韬奋楼东侧电表有故障韬奋楼东侧电表有故障韬奋楼东侧电表有故障</p>
							<p>
								<span class="mlabel mlabel-danger">严重</span>
							</p>
							<p>
								<img style="width: 90%;" src="../../images/file/peidianxiang.jpg" alt="">
							</p>
							<p><i class="icon icon-location"></i>&nbsp;韬奋楼1楼114室</p>
						</div>
					</div>
					<div class="card-footer"  id="chat">
						<span>报修人：李晓雅</span>
						<span><i class="icon icon-message"></i></span>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							故障分析：估计是电路问题,估计是电路问题估计是电路问题
							<br />
							故障设备：<a href="#" id="device">D3-2</a>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header"><small>维修结果</small></div>
					<div class="card-content">
						<div class="card-content-inner">
							<p>已经更换空开，现在已经正常使用了</p>

							<p class="color-gray">维护时间 &nbsp;2015/01/15 15:00
								<br /> 维护人员&nbsp;小明
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bar bar-tab tools">
				<a class="tab-item" href="#" id="repairlog">
					<span class="icon icon-form"></span>
					<span class="tab-label">维护日志</span>
				</a>
				<a class="tab-item" href="#" id="file">
					<span class="icon icon-file"></span>
					<span class="tab-label">文件(2)</span>
				</a>
				<a class="tab-item" href="#" id="bookdetail">
					<span class="icon icon-album"></span>
					<span class="tab-label">查看图纸</span>
				</a>
				<a class="tab-item" href="#" id="repair">
					<span class="icon icon-roundcheck"></span>
					<span class="tab-label">解决故障</span>
				</a> 
				</nav>
			</div>
			<script src="../../lib/zepto/zepto.js"></script>
			<script src="../../lib/sui/js/sm.js"></script>
			<script src="../../js/conf.js"></script>
			<script src="../../lib/mui/js/mui.js"></script>
			<script src="../../js/controller/fault-detail.js"></script>
	</body>
</html>