<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>相关文件</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />
	</head>

	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a class="mui-action-back icon icon-back pull-left"></a>
				<h1 class="title">相关文件</h1>
			</header>
			<div class="content">
				<div class="list-block">
					<ul>
						<li class="item-content item-link">
							<div class="item-inner">
								<div class="item-title">文件1</div>
								<div class="item-after">aaaa.jpg</div>
							</div>
						</li>
						<li class="item-content item-link">
							<div class="item-inner">
								<div class="item-title">文件2</div>
								<div class="item-after">xxxx.jpg</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>
	</body>

</html>