<!DOCTYPE html>
<html> 
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>故障列表</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/views-fault-index.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />  
	</head> 
	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a class="mui-action-back icon icon-back pull-left"></a>
				<a class="icon pull-right icon icon-refresh"></a>
				<h1 class="title">故障列表</h1>
			</header>
			<div class="bar bar-header-secondary">
				<div class="buttons-tab">
					<a href="#tab1" class="tab-link active button">全部</a>
					<a href="#tab2" class="tab-link button">未解决</a>
					<a href="#tab3" class="tab-link button">已解决</a>
					<!--<a href="#" class="button open-panel-search"><i class="icon icon-filter"></i></a>-->
				</div>
			</div> 
			<a href="#" class="add-fault" id="ctrl_add"><i class="icon icon-add"></i></a> 
			<!-- 这里是页面内容区 -->
			<div class="content" id="page-content"> 
				<div class="tabs">
					<div id="tab1" class="tab active">
						<div class="list-block media-list">
							<div class="text-center" style="padding-top: 30px;display: none" id="list-placeholder">
								<p>没有故障</p>
							</div>
							<ul>
								<li>
									<div class="item-content item-link">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title"><strong>韬奋楼东侧电表有故障</strong> </div>
												<div class="item-after"><a href="#">未解决</a></div>
											</div>
											<div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
												<br />
												<span class="mlabel mlabel-danger">严重</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content item-link">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title"><strong>韬奋楼东侧电表有故障</strong> </div>
												<div class="item-after">已解决</div>
											</div>
											<div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
												<br />
												<span class="mlabel mlabel-info">一般</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content item-link">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>
												<div class="item-after"><a href="#">未解决</a></div>
											</div>
											<div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
												<br />
												<span class="mlabel mlabel-warning">紧急</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content item-link">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>
												<div class="item-after"><a href="#">未解决</a></div>
											</div>
											<div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
												<br />
												<span class="mlabel mlabel-success">提示</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content item-link">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>
												<div class="item-after"><a href="#">未解决</a></div>
											</div>
											<div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
												<br />
												<span class="mlabel mlabel-danger">严重</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
						<!-- 加载提示符 -->
						<div class="infinite-scroll-preloader">
							<div class="preloader"></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div id="tab2" class="tab ">
						<div class="list-block media-list">
							<div class="text-center" style="padding-top: 30px;display: none" id="list-placeholder">
								<p>没有故障</p>
							</div>
							<ul>
								<li>
									<div class="item-content item-link">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>

											</div>
											<div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
												<br />
												<span class="mlabel mlabel-danger">严重</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content item-link">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>

											</div>
											<div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
												<br />
												<span class="mlabel mlabel-danger">严重</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content item-link">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>

											</div>
											<div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
												<br />
												<span class="mlabel mlabel-danger">严重</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div id="tab3" class="tab ">
						<div class="list-block media-list">
							<div class="text-center" style="padding-top: 30px;display: none" id="list-placeholder">
								<p>没有故障</p>
							</div>
							<ul>
								<li>
									<div class="item-content item-link">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>
												 
											</div>
											<div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
												<br />
												<span class="mlabel mlabel-success">提示</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div> 
	<div class="panel-overlay"></div>
		<!-- Left Panel with Reveal effect -->
		<div class="panel panel-right panel-cover theme-dark" id='panel-search'>
		  <div class="content-block">
		    <p>故障搜索</p> 
		    <p></p>
		    <!-- Click on link with "close-panel" class will close panel -->
		    <p><a href="#" class="close-panel">关闭</a></p>
		  </div>
		</div> 
		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>
		<script src="../../js/controller/fault-index.js"></script>
	</body>
</html>