<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>楼宇详情</title>
    <link href="../../lib/sui/css/sm.css" rel="stylesheet" />
    <link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
    <link href="../../css/custom.css" rel="stylesheet" />
    <link href="../../css/views-building-detail.css" rel="stylesheet" />
    <link href="../../css/skin-blue.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <header class="bar bar-nav">
            <a class="mui-action-back icon icon-back pull-left"></a>
            <a class="icon icon-location pull-right"></a>
            <!--<a class="icon icon-album pull-right">&nbsp;</a>-->
            <h1 class="title">韬奋楼</h1>
        </header>
        <div class="bar bar-header-secondary">
            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">故障列表</a>
                <a href="#tab2" class="tab-link button">能耗指标</a>
                <a href="#tab3" class="tab-link button">楼宇信息</a>
            </div>
        </div>
        <div class="content">
            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="content-block">
                        <div class="buttons-row">
                            <a href="#tab1-1" class="tab-link active button">未解决</a>
                            <a href="#tab1-2" class="tab-link button">已解决</a>
                        </div>
                        <div class="tabs">
                            <div class='tab active' id='tab1-1'>
                                <div class="list-block media-list">
                                    <ul>
                                        <li>
                                            <div class="item-content item-link">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>
                                                    </div>
                                                    <div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
                                                        <br />
                                                        <span class="mlabel mlabel-danger">严重</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content item-link">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>
                                                    </div>
                                                    <div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
                                                        <br />
                                                        <span class="mlabel mlabel-success">提示</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content item-link">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>
                                                    </div>
                                                    <div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
                                                        <br />
                                                        <span class="mlabel mlabel-danger">严重</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class='tab' id='tab1-2'>
                                <div class="list-block media-list">
                                    <ul>
                                        <li>
                                            <div class="item-content item-link">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title"><strong>韬奋楼东侧电表有故障</strong></div>
                                                    </div>
                                                    <div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
                                                        <br />
                                                        <span class="mlabel mlabel-warning">紧急</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class='tab' id='tab1-3'>
                                <div class="list-block media-list">
                                    <ul>
                                        <li>
                                            <div class="item-content item-link">
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title"><strong>韬奋楼东侧电表有故障</strong> </div>
                                                    </div>
                                                    <div class="item-text">估计是电路问题&nbsp;|&nbsp;9天前
                                                        <br />
                                                        <span class="mlabel mlabel-info">一般</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab ">
                    <div class="card tile electricity">
                        <div class="card-content">
                            <div class="card-content-inner total">
                                <h1>8088.8<small>kwh</small> </h1>
                                <div>今日总用电量</div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">总电压:200V</a>
                            <a href="#" class="link">总电流:80A</a>
                        </div>
                        <div class="card-content fenxiang">
                            <div class="list-block">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">空调用电</div>
                                                <div class="item-after">200.0kwh</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">照明插座用电</div>
                                                <div class="item-after">200.0kwh</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">动力用电</div>
                                                <div class="item-after">200.0kwh</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">特殊用电</div>
                                                <div class="item-after">200.0kwh</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card tile water">
                        <div class="card-content">
                            <div class="card-content-inner total">
                                <h1>808.8<small>t</small> </h1>
                                <div>今日总用水量</div>
                            </div>
                        </div>
                        <div class="card-content fenxiang">
                            <div class="list-block">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">办公生活用水量</div>
                                                <div class="item-after">200.0t</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">卫生清洁用水量</div>
                                                <div class="item-after">200.0t</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">餐饮用水量量</div>
                                                <div class="item-after">200.0t</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">绿化用水量等</div>
                                                <div class="item-after">200.0t</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">用能系统用水量</div>
                                                <div class="item-after">200.0t</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card tile gas">
                        <div class="card-content">
                            <div class="card-content-inner total">
                                <h1>808.8<small>kg</small> </h1>
                                <div>今日总用气量</div>
                            </div>
                        </div>
                        <div class="card-content fenxiang">
                            <div class="list-block">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">餐饮用气量</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">其他用气量</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card tile coal">
                        <div class="card-content">
                            <div class="card-content-inner total">
                                <h1>808.8<small>kg</small></h1>
                                <div>今日采暖总能耗量</div>
                            </div>
                        </div>
                        <div class="card-content fenxiang">
                            <div class="list-block">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">燃煤锅炉</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">燃油锅炉</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">燃气锅炉</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">电锅炉</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">热电联产</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">热泵系统</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">太阳能</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">复合系统</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">其他系统采暖耗热</div>
                                                <div class="item-after">200.0kg</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <div class="card">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class='card-cover' src="../../images/file/taofen.jpg" alt="">
                        </div>
                        <div class="card-content">
                            <div class="list-block">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">建筑名称</div>
                                                <div class="item-after">韬奋楼</div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- <li>
											<div class="item-content">
												<div class="item-inner">
													<div class="item-title">建筑地址</div>
													<div class="item-after">万航渡路1575号</div>
												</div>
											</div>
										</li> -->
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">建设年代</div>
                                                <div class="item-after">1980</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-link" id="floor">
                                            <div class="item-inner">
                                                <div class="item-title">建筑层数</div>
                                                <div class="item-after">2层</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">房间数</div>
                                                <div class="item-after">200</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">建筑功能</div>
                                                <div class="item-after">教学楼</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">建筑总面积</div>
                                                <div class="item-after">2000m<sup>3</sup></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card tools">
                        <div class="card-content">
                            <div class="list-block">
                                <ul>
                                    <li>
                                        <div class="item-content item-link" id="devicelist">
                                            <div class="item-media"><i class="icon icon-light"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title">能源设备</div>
                                                <div class="item-after"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-link" id="remote">
                                            <div class="item-media"><i class="icon icon-shake"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title">远程控制</div>
                                                <div class="item-after"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-link" id="monitor">
                                            <div class="item-media"><i class="icon icon-weibiaoti3"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title">摄像监控</div>
                                                <div class="item-after"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-link" id="books">
                                            <div class="item-media"><i class="icon icon-album"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title">建筑图纸</div>
                                                <div class="item-after"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../lib/zepto/zepto.js"></script>
    <script src="../../lib/sui/js/sm.js"></script>
    <script src="../../js/conf.js"></script>
    <script src="../../lib/mui/js/mui.js"></script>
    <script src="../../js/controller/building-detail.js"></script>
</body>
</html>
