<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>设备详情</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />
	</head>

	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a class="mui-action-back icon icon-back pull-left"></a> 
				<a class="icon pull-right icon icon-refresh"></a>
				<h1 class="title">韬奋楼114室电表</h1>
			</header>

			<!--<div class="bar bar-header-secondary">
			  <div class="searchbar">
			    <a class="searchbar-cancel">取消</a>
			    <div class="search-input">
			      <label class="icon icon-search" for="search"></label>
			      <input type="text" id='search' placeholder='输入楼名...'/>
			    </div>
			  </div>
			</div>-->
			<div class="content">
				<div class="card tile electricity">
						<div class="card-content">
							<div class="card-content-inner total">
								<h1>88.8<small>kwh</small></h1>
								<div>今日流量</div>
							</div>
						</div>
						<div class="card-footer">
							<a href="#" class="link">读数:800.23</a>
							<a href="#" class="link">倍率:100</a>
						</div>
						<div class="card-content fenxiang">
							<div class="list-block">
								<ul>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">名称</div>
												<div class="item-after">韬奋楼114室电表</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">编号</div>
												<div class="item-after">D3-2</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">所属建筑</div>
												<div class="item-after">韬奋楼</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">用途</div>
												<div class="item-after">照明用电</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">倍率</div>
												<div class="item-after">100</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">类型</div>
												<div class="item-after">三相互感式3x1.5(6)A</div>
											</div>
										</div>
									</li>
									
									<li>
										<div class="item-content item-link">
											<div class="item-inner">
												<div class="item-title">
													图片</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

			</div>
		</div>
		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>
	</body>

</html>