<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>楼层/房间</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/views-building-floor.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />
	</head>

	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a class="mui-action-back icon icon-back pull-left"></a>
				<h1 class="title">韬奋楼-楼层</h1>
			</header>
			<div class="bar bar-header-secondary">
				<div class="buttons-tab">
					<a href="#tab1" class="tab-link active button">1层</a>
					<a href="#tab2" class="tab-link button">2层</a>
				</div>
			</div>
			<div class="content">
				<div class="tabs">
					<div id="tab1" class="tab active">
						<div class="list-block">
							<ul>
								<li class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">101</div>
									</div>
								</li>
								<li class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">102</div>
									</div>
								</li>
								<li class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">103</div>
									</div>
								</li>
								<li class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">104</div>
									</div>
								</li>
								<li class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">105</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div id="tab2" class="tab">
						<div class="list-block">
							<ul>
								<li class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">201</div>
									</div>
								</li>
								<li class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">202</div>
									</div>
								</li>
								<li class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">203</div>
									</div>
								</li>
								<li class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">204</div>
									</div>
								</li>
								<li class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">205</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>

		<script src="../../js/controller/building-floor.js"></script>
	</body>

</html>