<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>远程控制-空调</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />
	</head>

	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a class="mui-action-back icon icon-back pull-left"></a>
				<h1 class="title">空调(K3-1)</h1>
			</header>
			<div class="content" >
				<img style="width: 100%;" src="../../images/file/yaokongqi.jpg"/>
				
				<div class="list-block">
					<ul> 
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">名称</div>
									<div class="item-after">韬奋楼114室空调</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">编号</div>
									<div class="item-after">K3-1</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">所属建筑</div>
									<div class="item-after">韬奋楼</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>
	</body>

</html>