<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>通讯录</title>
    <link href="../../lib/sui/css/sm.css" rel="stylesheet" />
    <link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
    <link href="../../css/custom.css" rel="stylesheet" />
    <link href="../../css/skin-blue.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <header class="bar bar-nav">
            <a class="mui-action-back icon icon-back pull-left"></a>
            <h1 class="title">通讯录</h1>
        </header>
        <div class="content">
            <div class="list-block contacts-block">
                <div class="list-group">
                    <ul>
                        <li class="list-group-title">A</li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明2</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明3</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明4</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明5</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明6</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明7</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明8</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul>
                        <li class="list-group-title">B</li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明1</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明2</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明3</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明4</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明5</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明6</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul>
                        <li class="list-group-title">C</li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明1</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明2</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明3</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明4</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明5</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明6</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明7</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul>
                        <li class="list-group-title">V</li>
                        <li>
                            <div class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">王小明1</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../../lib/zepto/zepto.js"></script>
    <script src="../../lib/sui/js/sm.js"></script>
    <script src="../../js/conf.js"></script>
    <script src="../../lib/mui/js/mui.js"></script>
    <script src="../../js/controller/my-addresslist.js"></script>
</body>

</html>
