<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>查资料</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />
	</head>

	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a class="mui-action-back icon icon-back pull-left"></a>
				<!--<a class="icon icon-search pull-right"></a>-->
				<h1 class="title">查资料</h1>
			</header>
			<!--<div class="bar bar-header-secondary">
			  <div class="searchbar">
			    <a class="searchbar-cancel">取消</a>
			    <div class="search-input">
			      <label class="icon icon-search" for="search"></label>
			      <input type="text" id='search' placeholder='输入楼名...'/>
			    </div>
			  </div>
			</div>-->
			<div class="content">
				<div class="content-padded">
					<div class="searchbar">
						<div class="search-input">
							<label class="icon icon-search" for="search"></label>
							<input type="text" id='search' placeholder='输入楼名...' />
						</div>
					</div>
				</div>
				<div class="list-block contacts-block">
					<div class="list-group">
						<ul>
							<li class="list-group-title">韬奋楼</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="list-group">
						<ul>
							<li class="list-group-title">东风楼</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸1</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸3</div>
									</div>
								</div>
							</li>

						</ul>
					</div>
					<div class="list-group">
						<ul>
							<li class="list-group-title">致远楼</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸1</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>

						</ul>
					</div>
					<div class="list-group">
						<ul>
							<li class="list-group-title">图书馆</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸1</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>

						</ul>
					</div>
					<div class="list-group">
						<ul>
							<li class="list-group-title">食堂</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸1</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">东侧电路图图纸2</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div> 
			</div>
		</div>
		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>
		<script src="../../js/controller/my-books.js"></script>
	</body> 
</html>