<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的关注</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/views-fault-index.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />
	</head>

	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a class="mui-action-back icon icon-back pull-left"></a>
				<a class="icon icon-info pull-right"></a>
				<h1 class="title">我的关注</h1>
			</header>
			<div class="bar bar-header-secondary">
				<div class="buttons-tab">
					<a href="#tab1" class="tab-link active button">按楼宇</a>
					<a href="#tab2" class="tab-link button">按设备</a>
				</div>
			</div>
			<div class="content" id="page-content">
				<div class="tabs">
					<div id="tab1" class="tab active">
						<div class="content-block-title">关注后,最新的情况将会推送给您</div>
						<div class="list-block">
							<div class="list-group">
								<ul>
									<li>
										<div class="item-content item-link">
											<div class="item-inner">
												<div class="item-title">韬奋楼</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content item-link">
											<div class="item-inner">
												<div class="item-title">东风楼</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content item-link">
											<div class="item-inner">
												<div class="item-title">致远楼</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content item-link">
											<div class="item-inner">
												<div class="item-title">图书馆</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content item-link">
											<div class="item-inner">
												<div class="item-title">食堂</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div> 
					</div> 
					<div id="tab2" class="tab">
						<div class="content-padded">
							<div class="searchbar">
								<div class="search-input">
									<label class="icon icon-search" for="search"></label>
									<input type="text" id='search' placeholder='输入设备名...' />
								</div>
							</div>
							<div><small>关注后,最新的情况将会推送给您</small></div>
						</div> 
						<div class="list-block contacts-block">
							<div class="list-group">
								<ul>
									<li class="list-group-title">水</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">韬奋楼东侧(S1-2)</div>
												<div class="item-after">
													<label class="label-switch">
														<input type="checkbox">
														<div class="checkbox"></div>
													</label>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">韬奋楼东侧(S2-1)</div>
												<div class="item-after">
													<label class="label-switch">
														<input type="checkbox" checked="checked">
														<div class="checkbox"></div>
													</label>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>

							<div class="list-group">
								<ul>
									<li class="list-group-title">电</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">韬奋楼东侧(D1-2)</div>
												<div class="item-after">
													<label class="label-switch">
														<input type="checkbox">
														<div class="checkbox"></div>
													</label>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">韬奋楼东侧(D2-1)</div>
												<div class="item-after">
													<label class="label-switch">
														<input type="checkbox" checked="checked">
														<div class="checkbox"></div>
													</label>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="list-group">
								<ul>
									<li class="list-group-title">空调</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">韬奋楼东侧(K1-2)</div>
												<div class="item-after">
													<label class="label-switch">
														<input type="checkbox">
														<div class="checkbox"></div>
													</label>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title">韬奋楼东侧(K2-1)</div>
												<div class="item-after">
													<label class="label-switch">
														<input type="checkbox" checked="checked">
														<div class="checkbox"></div>
													</label>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>

		<script src="../../js/controller/my-collect.js"></script>
	</body>

</html>