<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>能耗类型</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />
	</head>

	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a class="mui-action-back icon icon-back pull-left"></a>
				<h1 class="title">选择能耗</h1>
			</header>
			<div class="content">
			
				<div class="list-block">
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">水</div>
								<div class="item-after">
									<label class="label-switch">
										<input type="checkbox">
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">电</div>
								<div class="item-after">
									<label class="label-switch">
										<input type="checkbox" checked="checked">
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">风</div>
								<div class="item-after">
									<label class="label-switch">
										<input type="checkbox">
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">太阳能</div>
								<div class="item-after">
									<label class="label-switch">
										<input type="checkbox">
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">路灯</div>
								<div class="item-after">
									<label class="label-switch">
										<input type="checkbox">
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">空调</div>
								<div class="item-after">
									<label class="label-switch">
										<input type="checkbox">
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">燃气</div>
								<div class="item-after">
									<label class="label-switch">
										<input type="checkbox">
										<div class="checkbox"></div>
									</label>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>
	</body>

</html>