<!DOCTYPE html>
<html> 
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" /> 
		<link href="../../css/views-my-index.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" /> 
	</head> 
	<body>
		<div class="page my-index">
			<div class="content">
				<div class="list-block media-list">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-media"><img class="img-round" src="../../images/user/sub-user.jpg" style='width: 2.4rem;height: 2.4rem;'></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">张晓雅</div>
									</div>
									<div class="item-subtitle">后勤部主任</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-block my-menu"> 
					<ul> 
						<li>
							<div class="item-content item-link" id="faultlist">
								<div class="item-media"><i class="icon icon-notice"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<div class="item-title">我的报修</div>
									</div>
								</div>
							</div>
						</li> 
						<li>
							<div class="item-content item-link" id="collect">
								<div class="item-media"><i class="icon icon-favor"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<div class="item-title">我的关注</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content item-link" id="addresslist">
								<div class="item-media"><i class="icon icon-addressbook"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<div class="item-title">通讯录</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content item-link" id="books">
								<div class="item-media"><i class="icon icon-pay"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<div class="item-title">查资料</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content item-link" id="logout">
								<div class="item-media"><i class="icon  icon-forward"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<div class="item-title">退出登录</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div> 
			</div>
		</div>
		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>
		<script src="../../js/controller/my-index.js"></script>
	</body> 
</html>