<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>地图楼层控制</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" /> 
		<link href="../../css/views-main-floor-contrl.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />

	</head>

	<body>
		<div class="page">
			<div class="content">
				<div class="buttons-row vertical" id="ctrl_floors">
						<a href="#" class="button active" title="1">F1</a>
						<a href="#" class="button" title="2">F2</a>
					</div>
			</div>
		</div>

		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script> 
		<script src="../../js/controller/main-floor-contrl.js"></script>
	</body>

</html>