<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>地图底部工具类</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />

		<link href="../../css/views-main-footer-bar.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />

	</head>

	<body>
		<div class="page">
			<div class="content footer-bar">
				<div class="card facebook-card">
					<div class="card-footer no-border">
						<a id="locate" href="#" class="link"><i class="icon icon-focus"></i> &nbsp;定位</a>
						<a id="list" href="#" class="link" style="position: relative;"><i class=" icon icon-notice"></i>&nbsp;故障<span class="msg-badge" ></span></a>
						<a id="type" href="#" class="link "><i class="icon icon-read"></i>&nbsp;图层</a>
						<a id="add" href="#" class="link active"><i class="icon icon-add "></i>&nbsp;报修</a>
					</div>
				</div>
			</div>
		</div>

		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>
		<script src="../../js/controller/main-footer-bar.js"></script>
	</body>

</html>