<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>地图</title>
    <link href="../../lib/sui/css/sm.css" rel="stylesheet"/>
    <link href="../../css/views-main-index.css" rel="stylesheet"/>
  
</head>
<body>
	
    <div id="map" class="mui-content">地图加载中</div>
    
    <script src="../../lib/zepto/zepto.js"></script>
    <script src="../../js/conf.js"></script>
    <script src="../../lib/mui/js/mui.js"></script>
    <script src="../../lib/other/map-data.js"></script>
    <script src="../../js/controller/main-index.js"></script>
      
</body>
</html>