<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>地图图层控制</title>
		<link href="../../lib/sui/css/sm.css" rel="stylesheet" />
		<link href="../../lib/sui/css/ali-iconfont.css" rel="stylesheet" />
		<link href="../../css/custom.css" rel="stylesheet" />
		<link href="../../css/views-main-layer-contrl.css" rel="stylesheet" />
		<link href="../../css/skin-blue.css" rel="stylesheet" />

	</head>

	<body>
		<div class="page">
			<div class="content">
				<div class="content-padded text-center">
					<div class="row">
						<div class="col-25 t1"><i class="icon icon-shui"></i>
							<br/><small>水</small></div>
						<div class="col-25 t2"><i class="icon icon-dian active"></i>
							<br/><small>电</small></div>
						<div class="col-25 t3"><i class="icon icon-feng"></i>
							<br/><small>风</small></div>
						<div class="col-25 t4"><i class="icon icon-kongdiao"></i>
							<br/><small>空调</small></div>
					</div>
					<div class="row">
						<div class="col-25 t5"><i class="icon icon-hekricon44"></i>
							<br/><small>太阳能</small></div>
						<div class="col-25 t6"><i class="icon icon-jiadiandeng"></i>
							<br/><small>路灯</small></div>
						<div class="col-25 t7"><i class="icon icon-weibiaoti3"></i>
							<br/><small>摄像头</small></div>
						<div class="col-25 t8"><i class="icon icon-ranqi"></i>
							<br/><small>燃气</small></div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../lib/zepto/zepto.js"></script>
		<script src="../../lib/sui/js/sm.js"></script>
		<script src="../../js/conf.js"></script>
		<script src="../../lib/mui/js/mui.js"></script>
		<script src="../../js/controller/main-layer-contrl.js"></script>
	</body>

</html>